body {
  font-family: Avenir Next, Verdana, sans-serif;
  background-color: #dde0e4;
  color: #44484c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Charter, Times New Roman, serif;
  font-size: 1.5625rem;
}

p,
ol,
ul {
  margin: var(--block-margins, revert);
}

a {
  color: #39d;
}


/* ==========================================================================
   Page Wrapper
   ========================================================================== */

.page-wrapper {
  background: transparent;
  max-width: 1024px;
  padding: 0 1rem;
  margin: 0 auto;
  grid-gap: 0;
}

body.attachment .page-wrapper {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) {
  .page-wrapper {
    grid-gap: 0 2rem;
    padding: 0 2rem;
  }
}

/* ==========================================================================
   Site Header
   ========================================================================== */

.site-header__logo {
  margin: 2rem 0;
  font-size: 3.0517578125rem;
  font-family: Charter, Times New Roman, serif;
  font-weight: 700;
}

.site-header__logo a {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Article
   ========================================================================== */

.article,
.sidebar .widget {
  background: #eef2f6;
  padding: 1.5rem 2rem;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.article + .article {
  margin-top: 4rem;
}

.article__title {
  margin-top: 0;
  font-size: 1.5625rem;
  font-family: Charter, Times New Roman, serif;
  line-height: 1.875rem;
}

.article__title a {
  text-decoration: none;
  color: inherit;
}

.article__author {
  display: none;
}

.article__timestamp {
  color: #777;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.article__body {
  --block-margins: 0.75rem 0;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.page-numbers {
  margin: 1.5rem 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* ==========================================================================
   WordPress
   ========================================================================== */

.alignleft {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.alignright {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* ==========================================================================
   Widgets
   ========================================================================== */

.widget + .widget {
  margin-top: 2rem;
}

.widget__heading {
  margin-top: 0;
}


/* ==========================================================================
   Site Main
   ========================================================================== */

.site-main {
  grid-column: 1 / span 2;
}

.sidebar {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

@media screen and (min-width: 1024px) {
  .site-main {
    grid-column: 1 / span 1;
  }

  .sidebar {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}
