// Colors

$color-white: white;
$color-black: darkslategray;
$color-gray: gray;

$color-background: $color-white;
$color-text: $color-black;
$color-primary: var(--skltn-primary-color, dodgerblue);

// Typography

$base-font-size: 16px;
$base-line-height: 1.5;

$font-serif-backup: Georgia, 'Times New Roman', Times, serif;
$font-sans-backup: 'Helvetica Neue', Helvetica, FreeSans, Arial, sans-serif;

$font-sans: $font-sans-backup;
$font-serif: $font-serif-backup;

$font-display: $font-sans;
$font-text: $font-serif;
