@import "vars";

/**
 * The body selector is converted to .editor-styles-wrapper
 * https://developer.wordpress.org/reference/functions/add_editor_style/
 */
body {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-family: $font-text;

  a {
    color: $color-primary;
  }
}

// The post/page title
.wp-block-post-title {
  font-family: $font-text;
}

// Any block within the editor
.block-editor-block-list__layout .wp-block {
  margin: var(--block-margins, 0.75rem) auto;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
