@import "vars";

/**
 * Base styles
 */

* {
  box-sizing: border-box;
}

html {
  color: $color-text;
  font-size: $base-font-size / 16px * 100%;
  font-family: $font-text;
  line-height: $base-line-height;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-family: $font-display;
}

p,
ul,
ol,
figure,
audio,
video {
  margin: $base-line-height * 0.5rem 0;
}

pre {
  overflow: auto;
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Major page sections
 */

.page-wrapper {
  margin: 0 auto;
  max-width: 1024px;

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.site-header,
.site-nav,
.site-main,
.sidebar {
  padding: 0 30px;
}

.site-header {
  text-align: center;
}

.site-header__logo {
  font-size: xx-large;
  font-weight: 700;
  font-family: $font-display;
}

.site-nav {
  padding: 0.25em;
  margin-bottom: 2rem;
  font-family: $font-sans;
  color: $color-white;
  background-color: $color-primary;

  a {
    color: inherit;
  }
}

/**
 * Articles
 */

.article {
  padding: 1rem 0;
  border-bottom: 1px dotted $color-gray;

  &:first-of-type {
    padding-top: 0;
  }
}

.article__tags,
.article__meta {
  margin: 0;
  font-size: small;
  color: $color-gray;
  font-family: $font-sans;
}

.article__title {
  font-size: x-large;
}

.article__body {
  a {
    text-decoration: underline;
  }
}

.article__comment-count {
  font-family: $font-sans;
  font-size: small;
}

/**
 * WordPress styles
 */

.wp-block-embed,
.wp-block-audio,
.wp-block-video,
.wp-block-image {
  margin: $base-line-height * 0.5rem 0;
}

.alignleft {
  margin: 0 0.75em 0.75em 0;
}

.alignright {
  margin: 0 0 0.75em 0.75em;
}

.alignmiddle {
  margin: 0.75em auto;
}

/**
 * Archive pagination
 */

.page-numbers {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/**
 * Widgets
 */

.widget {
  a {
    text-decoration: underline;
  }
}

.widget__heading {
  font-size: large;
}
