@import "vars";

/**
 * The body selector is converted to .editor-styles-wrapper
 * https://developer.wordpress.org/reference/functions/add_editor_style/
 */
body {
  font-family: var(--skltn-display-font);

  a {
    color: $color-primary;
  }
}

// The post/page title
.wp-block-post-title {
  font-family: var(--skltn-text-font);
}
