.l-content-extra {
  display: contents;
}

.l-content-extra__header,
.l-content-extra__main {
  grid-column: 1 / 3;

  @media screen and (min-width: 66em) {
    grid-column: 2 / 3;
  }
}

.l-content-extra__header {
  grid-row: 2 / 3;
}

.l-content-extra__main {
  grid-row: 4 / 5;

  @media screen and (min-width: 66em) {
    grid-row: 3 / 5;

    &:first-child {
      grid-row: 2 / 5;
    }
  }
}
