.page {
  max-width: 1600px;
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: 61.8fr 38.2fr;
  grid-auto-rows: auto;
  background-color: $color-background;

  @include rhythm(grid-column-gap, 2);
}
