/* Colors
   ========================================================================== */
/* Typography
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 100%;
  color: var(--color-text);
  background: var(--color-background); }
  @media (min-width: 600px) {
    html {
      font-size: 140%; } }

html,
body {
  margin: 0;
  padding: 0;
  font-display: fallback;
  font-family: "Helvetica Neue", Helvetica, FreeSans, Arial, sans-serif;
  line-height: 1.4; }

figure {
  margin: 0; }

iframe {
  max-width: 100%; }

.alignleft {
  float: left; }

.page {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 61.8fr 38.2fr;
  grid-auto-rows: auto;
  background-color: #fff; }

.site-header {
  grid-row: 1 / 1;
  grid-column: 1 / 3; }

.site-nav__list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none; }

.sidebar {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1; }
  @media screen and (min-width: 66em) {
    .sidebar {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1; } }

.site-main {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1; }
  @media screen and (min-width: 66em) {
    .site-main {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1; } }
