html {
  font-size: $base-font-size / 16px * 100%;
  color: var(--color-text);
  background: var(--color-background);

  @media (min-width: 600px) {
    font-size: 140%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-display: fallback;
  font-family: $font-text;
  line-height: $base-line-height;
}

body {
  // body
}

a {
  // a
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

figure {
  margin: 0;
}

iframe {
  display: block;
  max-width: 100%;
}

audio,
video {
  display: block;
}

p,
ul,
ol,
figure,
audio,
video {
  margin: $base-line-height * 1rem 0;
}

hr {
}

ul,
ol {
  padding-left: $base-line-height * 1rem;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

pre {
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}
