* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: calc((var(--skltn-font-size-px, 16) / 16) * 100%);
  font-family: var(--skltn-text-font, revert);
  color: var(--skltn-text-color, revert);
  background-color: var(--skltn-background-color, revert);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--skltn-display-font, revert);
}

a {
  color: var(--skltn-link-color, revert);
}

figure {
  margin: 0;
}

figcaption {
  font-size: smaller;
}

iframe {
  max-width: 100%;
  display: block;
}

audio,
video {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  overflow: auto;
}

cite {
  font-style: normal;
}
