html {
  font-size: $base-font-size / 16px * 100%;
  color: var(--color-text);
  background: var(--color-background);
}

html,
body {
  margin: 0;
  padding: 0;
  font-display: fallback;
  font-family: $font-text;
  line-height: $base-line-height;
}

figure {
  margin: 0;
}

iframe {
  max-width: 100%;
  display: block;
}

audio,
video {
  display: block;
}

p,
ul,
ol,
figure,
audio,
video {
  margin: $base-line-height * 0.5rem 0;
}

ul,
ol {
  padding-left: $base-line-height * 1rem;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

pre {
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}
