/**
 * Base styles
 */
:root {
  --skltn-display-font: Helvetica Neue, Helvetica, FreeSans, Arial, sans-serif;
  --skltn-text-color: darkslategray;
  --skltn-text-font: Georgia, Times New Roman, Times, serif;
  --skltn-link-color: var(--skltn-primary-color, dodgerblue);
  --skltn-page-width: 1024px;
}

html {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

p,
ul,
ol,
figure,
audio,
video {
  margin: 0.8rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**
 * Major page sections
 */
@media screen and (max-width: 800px) {
  .page-wrapper {
    display: block;
  }
}

.site-header {
  text-align: center;
  margin-block: 2rem 2rem;
}

.site-header__logo {
  font-size: xx-large;
  font-weight: 700;
  font-family: var(--skltn-display-font);
}

.site-nav {
  padding: 0.25em;
  font-family: "Helvetica Neue", Helvetica, FreeSans, Arial, sans-serif;
  color: white;
  background-color: var(--skltn-primary-color);
}
.site-nav a {
  color: inherit;
}

/**
 * Articles
 */
.article {
  padding: 1rem 0;
  border-bottom: 1px dotted gray;
}
.article:first-of-type {
  padding-top: 0;
}

.article__tags,
.article__meta {
  margin: 0;
  font-size: small;
  color: gray;
  font-family: "Helvetica Neue", Helvetica, FreeSans, Arial, sans-serif;
}

.article__title {
  font-size: x-large;
  margin-bottom: 0.25rem;
}

.article__body a {
  text-decoration: underline;
}

.article__comment-count {
  font-family: "Helvetica Neue", Helvetica, FreeSans, Arial, sans-serif;
  font-size: small;
}

/**
 * WordPress styles
 */
.wp-block-embed,
.wp-block-audio,
.wp-block-video,
.wp-block-image {
  margin: 0.8rem 0;
}

.alignleft {
  margin: 0 0.75em 0.75em 0;
}

.alignright {
  margin: 0 0 0.75em 0.75em;
}

.alignmiddle {
  margin: 0.75em auto;
}

/**
 * Archive pagination
 */
.page-numbers {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/**
 * Widgets
 */
.widget a {
  text-decoration: underline;
}

.widget__heading {
  font-size: large;
}