.article {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'a h'
    'a b';
  }
}


/* Article Header
========================================================================== */

.article__header {
  grid-area: h;

  @include clearfix;

  a {
    text-decoration: none;
  }
}

.article__title {
  // article title
}

.article__timestamp {
  // article timestamp
}

.article__byline {
  // article byline
}

.article__author {
  grid-area: a;

  @media (min-width: 600px) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
}

.article__avatar {
  // article avatar
}

.article__body {
  grid-area: b;
}
