.article {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'a h'
    'a b';
  }
}

.article--small {
  p {
  }
}


/* Article Header
========================================================================== */

.article__header {
  // border-bottom: 1px solid $color-primary;
  @include clearfix;

  grid-area: h;

  a {
    text-decoration: none;
  }
}

.article__title {
}

.article__timestamp {
}

.article__byline {
}

.article__author {
  grid-area: a;

  @media (max-width: 599px) {
  }

  @media (min-width: 600px) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
}

.article__avatar {
}

.article__body {
  grid-area: b;
}
