.page-wrapper {
  margin: 0 auto;
  // max-width: var(--skltn-page-width, 1200px);
  display: grid;
  grid-template-columns: 1fr minmax(auto, calc(var(--skltn-page-width, 1200px) * .618)) minmax(auto, calc(var(--skltn-page-width, 1200px) * .382)) 1fr;
  grid-auto-rows: auto;
}
