.site-main {
  min-width: 0;
  grid-column: 2 / span 2;

  @media screen and (min-width: 1024px) {
    grid-column: 2 / span 1;
  }
}

.site-main--full-width {
  @media screen and (min-width: 1024px) {
    grid-column: 2 / span 2;
  }
}
