.site-header {
  grid-row: 1 / 1;
  grid-column: 1 / -1;

  > * {
    max-width: var(--skltn-page-width, 1200px);
    margin-inline: auto;
  }
}

.site-header__skip-link {
  position: absolute;
  left: -100vw;

  &:focus {
    position: static;
    left: unset;
  }
}
